@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  cursor: pointer;
  padding: 1rem;
  text-transform: uppercase; ;
}

li:hover {
  background-color: #f4ce14;
}